.topicButton{
    margin: 5px;
}

.optionButton{
    margin: 5px;
}

.gif{
    margin: 10px;
}

.imageDiv{
    float: left;
}

.fa:hover{
    color: hotpink;
}

p{
    text-align: center;
}

h3{
    text-align: center;
}